<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="EventStore" version="3.0.11293.40" />
  <package id="EventStore.Persistence.MongoPersistence" version="3.0.11293.40" />
  <package id="FluentAssertions" version="1.5.0.0" />
  <package id="log4net" version="1.2.10" />
  <package id="MasterNcqrs" version="1.1" />
  <package id="mongocsharpdriver" version="1.2" />
  <package id="Newtonsoft.Json" version="4.0.1" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="SpecFlow" version="1.7.1" />
</packages>